<html>
	<head>
		<title> User Login </title>
	</head>
	<body>
		<header>
	<h1> Login </h1>
	<div class="navbar">
		<ul>
			<li> <a href="register">Register</a></li>
		</ul>
	</div>
</header>
		<form action='/', method='POST', autocomplete='off' id='form'>
		  <label>Email Address</label>
		  <br>
		  <input type='text', name='email', required placeholder="Email">
		  <br>
		  <label>Password</label>
		  <br>
		  <input type='password', name='password', required placeholder="Password">
		   <br>
		   <br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>
