<html>
	<head>
		<title> Register </title>
	</head>
	<body>
		<header>
	<h1> Register </h1>
	<div class="navbar">
		<ul>
			<li> <a href="/">Login</a></li>
		</ul>
	</div>
</header>

		<form action='/register', method='POST', autocomplete='off' id='form'>
		  <label>User Name </label>
		  <br>
		  <input type='text', name='username', placeholder="username">
		  <br>
		  <label>Email Address</label>
		  <br>
		  <input type='text', name='email', placeholder="email">
		  <br>
		  <label>Password</label>
		  <br>
		  <input type='password', name='password', placeholder="Password">
		   <br>
		   <br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>
